<div class="tags-select">
  <div class="tags-input">
    <span class="placeholder">Select...</span>
    <div class="inputs">
      <!-- <div class="tag">
        <span class="tag-text">text</span><span class="close-tag">&#215;</span>
      </div>
      <div class="tag">
        <span class="tag-text">text</span><span class="close-tag">&#215;</span>
      </div>
      <div class="tag">
        <span class="tag-text">tag1 random test text</span
        ><span class="close-tag">&#215;</span>
      </div>
      <div class="tag">
        <span class="tag-text">text</span><span class="close-tag">&#215;</span>
      </div>
      <div class="tag">
        <span class="tag-text">tag2 random test text</span
        ><span class="close-tag">&#215;</span>
      </div>
      <div class="tag">
        <span class="tag-text">tag3 this is a very very very very long tag</span
        ><span class="close-tag">&#215;</span>
      </div>
      <div class="tag">
        <span class="tag-text">tag4 4 is a good number</span
        ><span class="close-tag">&#215;</span>
      </div>
      <div class="tag">
        <span class="tag-text">tag5 5 is not bad</span
        ><span class="close-tag">&#215;</span>
      </div> -->
    </div>
    <span class="clear-input">&#215;</span>
    <span class="dropdown-control">&#8744;</span>
  </div>
  <div class="dropdown-list hidden">
    <option hidden disabled selected>Select...</option>
    <!-- <optgroup label="Rude Guys"> </optgroup>
    <option selected>please select me</option>
    <option>how dare you didn't select my boss</option>
    <option>please don't be mad</option>
    <option>the first 3 sucks, right?</option>
    <option>glad to see you here</option>

    <optgroup label="Good Guys"></optgroup>
    <option>there isn't any</option>
    <option>I am your last chance</option> -->
  </div>
</div>
