.tags-select {
  position: relative;
}

.tags-input {
  border: 1px solid #ccc;
  min-height: 40px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 2px 5px 10px;
}

.tags-input > .inputs {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 0;
  flex-grow: 8;
  max-width: 80%;
  min-height: 20px;
}

.tags-input > .clear-input,
.tags-input > .dropdown-control {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  color: #7a7676;
  align-self: stretch;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.tags-input > .clear-input:hover,
.tags-input > .dropdown-control:hover {
  color: #000000;
}

.tag {
  display: flex;
  background: #ccc;
  border-radius: 2px;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  margin-left: 5px;
  margin-bottom: 5px;
  max-width: 90%;
}

.tag-text {
  padding: 2px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.close-tag {
  display: inline-flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  align-self: stretch;
  z-index: 100;
}
.close-tag:hover {
  background: rgb(231, 92, 115);
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  width: 100%;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
  background: #ffffff;
}

.dropdown-list optgroup {
  padding: 2px 5px 2px 15px;
  margin: 0;
}

.dropdown-list option {
  padding: 2px 5px 2px 25px;
}

.dropdown-list option:hover {
  background: cyan;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

option:checked {
  background: rgb(64, 87, 87);
}
