<div class="tags-select">
  <div class="tags-input">
    <div class="inputs">
      <div class="tag">
        <span class="tag-text">text</span><span class="close-tag">&#215;</span>
      </div>
      <div class="tag">
        <span class="tag-text">text</span><span class="close-tag">&#215;</span>
      </div>
      <div class="tag">
        <span class="tag-text">textdafsdfads12345678901234567789</span
        ><span class="close-tag">&#215;</span>
      </div>
      <div class="tag">
        <span class="tag-text">text</span><span class="close-tag">&#215;</span>
      </div>
      <div class="tag">
        <span class="tag-text">textdsfdsfdsfsddsfds</span
        ><span class="close-tag">&#215;</span>
      </div>
      <div class="tag">
        <span class="tag-text">textsdfdsfds</span
        ><span class="close-tag">&#215;</span>
      </div>
      <div class="tag">
        <span class="tag-text">textdsfsldflsdkflasjdlfjlsadf</span
        ><span class="close-tag">&#215;</span>
      </div>
      <div class="tag">
        <span class="tag-text">textsdaljflsjflsjdfldslf</span
        ><span class="close-tag">&#215;</span>
      </div>
    </div>
    <span class="clear-input">&#215;</span>
    <span class="dropdown-control">&#8897;</span>
  </div>
  <div class="dropdown-list hidden">
    <optgroup label="123"></optgroup>
    <option>helloworldwierare the best123</option>
    <span>helloworldwierare the best</span>
    <span>helloworldwierare the best</span>
    <span>helloworldwierare the best</span>
    <span>helloworldwierare the best</span>
    <span>helloworldwierare the best</span>
    <span>helloworldwierare the best</span>
    <span>helloworldwierare the best</span>
    <span>helloworldwierare the best</span>
  </div>
</div>
