main {
  background: #f3eded;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
  min-height: 100vh;
}

.container {
  padding: 20px;
  background: #ffffff;
  width: 300px;
  height: 300px;
  margin-right: 20px;
}
/* 
chevron icon based on pure css, copied from:
https://stackoverflow.com/questions/2701192/what-characters-can-be-used-for-up-down-triangle-arrow-without-stem-for-displa 
*/
.chevron {
  position: relative;
  display: block;
  height: 50px; /*height should be double border*/
}
.chevron:before,
.chevron:after {
  position: absolute;
  display: block;
  content: '';
  border: 1em solid transparent; /*adjust size*/
}
/* Replace all text `top` below with left/right/bottom to rotate the chevron */
.chevron:before {
  top: 0;
  border-top-color: #b00; /*Chevron Color*/
}
.chevron:after {
  top: -10px; /*adjust thickness*/
  border-top-color: #fff; /*Match background colour*/
}
